html {
    font-family: sans-serif;
    background-image: url(../images/bats.gif);
}

main {
    width: 800px;
    background-color: white;
    margin: 20px;
    margin: 0 auto;
    border: black;
    border-style: solid;
    box-shadow: 5px 10px 18px black;
}

span {
    float: left;
    font-size: 2em;
    line-height: 0.40;
}

header {
    width: 800px;
    border-top: none;
    border-bottom: 2px solid black;
    box-shadow: none;		
    background: linear-gradient(45deg,  white, orange 75%, black);
}

header h1 {
    margin-top: auto;
    padding-top: 20px;
    font-size: 48px;
}

header h2 {
    margin-top: -30px;
    font-size: 24px;
}

#pumpkin {
    margin: 20px;
    float: left;
    padding-right: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#two-tier li {
    float: left;
    width:160px;
    height:40px;
    background-color: black;
    backface-visibility: hidden;
    line-height: 40px;
    text-align: center;
}

#two-tier li a:hover{
    background-color: grey;  
}

#two-tier li ul li a:hover{
    background-color: none;
    opacity: 100%;
}  

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
 
ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}

#box {
    display: table;
    width: 800px;
    margin: auto;
}

#left-column ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    padding: 5px;
    display: table-cell;
    width: 160px;
    float: left;
}

#left-column ul li {
    width: 100px;
    background-color: orange;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    border: 3px solid black;
}

#left-column ul li a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

#middle-column {
    float: left;
    width: 400px;
}
    
#middle-column img {
    float: left;
    margin-right: 40px;
}

#right-column {
    float: right;
    width: 200px;
    background-color:#f4d491;
}
    
#right-column h4 {
    margin-left: 10px;
}

#right-column img {
    height: 50px;
    margin-left: 40px;
    margin-bottom: -10px;
}

#right-column p a {
    margin-left: 40px; 
    color: black;
}

#right-column a:hover {
    color: green;
}

footer {
    text-align: center;
    font-size: 12px;
    width: 800px;
    height: 50px;
    border-top: 2px solid black;
    background: linear-gradient(45deg,  black, orange 25%, white);
}
    
footer p {
    transform: translateY(50%);
}