html {
    font-family: sans-serif;
    background-color: black;
}

main {
    width: 1600px;
    background-color: white;
    margin: auto;
    border: 2px solid black;;
}

header {
    width: 1600px;
    height: 400px;
    border-top: none;
    box-shadow: none;		
}

header h1 {
    margin-top: auto;
    padding-top: 20px;
    font-size: 48px;
}

header h2 {
    margin-top: -30px;
    font-size: 24px;
}

header img {
    position: absolute;
}

#banner {
    width: 1600px;
    height: 400px;
    z-index: 1;
}

#logo {
    width: 200px;
    height: 200px;
    float: left;
    z-index: 2;
    margin: 100px;
    border: 2px solid white;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#two-tier {
    width: 1600px;
    height: 60px;
    margin: 0px;
    margin-bottom: 60px;
}

#two-tier li {
    float: left;
    width: 799px;
    height: 60px;
    background-color: orange;
    backface-visibility: hidden;
    line-height: 60px;
    text-align: center;
}

#two-tier li:first-child {
    border-left: 0px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#two-tier li:last-child {
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#two-tier li a {
    color: black;
}

#two-tier li a:hover{
    background-color: maroon;  
} 

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
}

#box {
    width: 1600px;
    height: 7740px;
    margin: 60px;
}

#left {
    width: 400px;
    float: left;
}

#left ul {
    list-style-type: none;
    display: table-cell;
    width: 400px;
    float: left;
}

#left ul li {
    display: block;
    width: 340px;
    background-color: white;
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 10px;
}

#left ul li a:first-child {
    display: block;
    width: 255px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    border-radius: 0px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#left ul li a:first-child:hover {
    background-color: white; 
}

#left ul li a {
    width: 255px;
    color: black;
    background-color: orange;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

#left ul li a:hover {
    background-color: maroon; 
}

#right {
    width: 1200px;
    float: right;
}

#right img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    margin-right: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

footer {
    color: black;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 1600px;
    height: 60px;
    border-top: 2px solid black;
}